
/*Resetear todos los valores*/
* {
    text-decoration:none;
    list-style:none;
    margin:0;
    padding:0;
    /*background-color:#f7f7f7;*/
    font-family: «DejaVu Sans Mono»,«Bitstream Vera Sans Mono», monospace,Verdana, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

/* Encabezado*/
header{
    width:100%;
    text-align:center;
    background:url(/viajes/multimedia/mapamundi-entero.png) top no-repeat;
    background-size: 100%;
}

header h1{
    color:#925E99;
    font-size:160%;
    padding: 10px 10px;
    font-family:brush script mt;
    display: block;
    background-color: #ffffff66;
}

blockquote{
    display: block;
    font-family: monospace;
    clear: right;
    text-align: center;
}

p{
    padding: 2%;
}

#Bio {
    display: flex;
    margin: 10px;
    padding-left: 2%;
    border: .1rem solid rgb(186 156 191);
}


body{
    padding:0 5%;
}

.Autor{
    font-size: 0.7rem;
    color: graytext;
}
.leerMas{
    font-size: 0.6rem;
    width: 4rem;
    border:0.01rem solid;
    border-radius:4px;
}

.leerMas:hover{
    color: rgb(146 94 153 / 100%);
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

#Bio h2 {
    display: flex;
    align-items: center;
}

.articles-shadow {
    padding: 1%;
    border-radius: 3%;
}

/*#foto-cabecera-der {
    display: inline-block;
    float: left;
    width: 30%;
}

#foto-cabecera-izq {
    display: inline-block;
    float: right;
    width: 30%;
}*/

/*****************************************************************/
/* Para pantalla de móvil*/

/* Para pantalla de tablet*/
@media only screen and (min-width: 700px){ 

    body {
        background-color: #ffffff;
        padding-left: 0;
        padding-right: 4%;
    }
/* Reseteando valores */
    menu-horizontal * {
    font-size: 1rem;
    }

    .menu-horizontal {
        width: 10rem;
        height: 100%;
        text-align: center;
    }
    body, html {
        height: 100%;
    }

    /*.portada-imagen {
    width: 100%;
    }

    article {
        width: 35%;
        display: inline-block;
        justify-content: center;
        float: right;
    }
    nav {
        float: left;
        position: fixed;
        background-color: rgb(231 211 255 / .1);
    }*/
    /* Para centrar los artículos*/
    article h2{
        height:57px;
    }

    /*Fijar barra arriba*/
    header{
        position:fixed;
    }
    nav{
        width: 20%;
        min-width: 125px;
        height: 110vh;
        float: left;
        position: fixed;
        display: block;
        background-color: #e7d3ff;
        top:55px;
      }
  
  nav a {
    display: inline-block;
    line-height: 20px;
    height: 20px;
    color: #000;
    background-color: rgb(231 211 255 / .1);
    text-decoration: none;
    padding-left: 5px;
    width: 20%;
  }


  nav li {
    justify-content: left;
    width: 1rem;
}


.portada-imagen {
    width: 100%;
}
  
  #articulos{
    display:block;
    width: 80%;
    overflow: auto;
    float: right;
    padding-top: 3%;
    justify-content: right;
    padding-top: 70px;
    padding-left: 0;
  }

  article {
    display: inline-block;
    width: 48%;
    float: right; 
    margin-left: 10px;
    margin-top: 10px;
}

    .menu-horizontal li a:hover{
        display:block;
        background-color: white;
        color:#925E99;
    }
        
        /* AL pasar el ratón por encima se hace visible el submenu*/    
    .menu-horizontal li:hover>ul{
        display:block;
    }


    /* Oculta los submenús */
    .menu-horizontal li ul {
        display:none;
        position: static;
        min-width:140px;
        background-color: rgb(231 211 255 / .3);
        border-radius: 10px;
    }
        
    .submenu2 li a{
        float:left;
    }

    nav li ul li{
        position:static;
    }

    .submenu2 {
        background-color: rgb(231 211 255 / .3);
    }

    /* DE aquí sale el blanco cuando despliegas España*/
    /*.submenu1:hover { 
        background-color: white;
    }*/

    .menu-horizontal li ul {
        background-color: rgb(231 211 255 / .3);
        border-radius: 10px;
    }

    /* Tabulación submenus*/
    .menu-horizontal li:hover .submenu1 {
        /* box-shadow: 0 0 10px #9a9a9a; */
        box-sizing: border-box;
        margin-left: 20px;
    }

    .submenu1 li:hover .submenu2 {
        box-sizing: border-box;
        margin-left: 20px;
    }



    blockquote {
        display: inline-block;
    }

    .articles-shadow{
        height:550px;
        box-shadow: 0 0 15px #c1c0c1;

      }

      article:hover {
        box-shadow: 0 0 15px black;
        border-radius: 3%;
    }

    /* Datos con más de una fila en el menu no se superposicionen */
    #menu a {
        height: max-content;
    }


}


/* Para pantalla de ordenador **********************************************************************************/
@media only screen and (min-width: 1160px){ 
    /*Corrección problemas menu movil*/
    .menu-horizontal{
        width:100%;
    }
    nav{
        display:block;
        width:100%;
        float:right;
        justify-content:center;
        height: auto;
        top: 110px;
        background-color: rgb(255 255 255 / 0);
    }

    #articulos{
        display:block;
        overflow:none;
        width:100%;
        height:auto;
    }
    /* Cabecera */
    header{
        background: url(/viajes/multimedia/mapamundi-der.jpeg) top left no-repeat, 
    url(/viajes/multimedia/mapamundi-izq.jpeg) top right no-repeat;
    background-size: 36%;
    }

    header h1{
        font-size: 4rem;
    }

    /* Menú principal horizontal orientarlo*/
.menu-horizontal li{
    float: left;
        width: max-content;
}

    .menu-horizontal{
        display:flex;
        justify-content: center;
    align-items: center;
    }
/* Menús secundarios verticales*/
.menu-vertical li{
    float:none;
}
    
    
/* Configurar las opciones de los menús */
.menu-horizontal li a{
    display:block;
    width:150px;
    background-color: rgb(190 159 194);
    color:black;
    border-right: 0.1px solid;
    padding:0.5rem;
    text-align:center;
}
    
    
/* Adaptar bordes*/
.menu-horizontal{
    margin: 0 0.3rem;
}

.menu-horizontal li:last-child a{
    border-right: none;
}

.menu-vertical li a{
    border: none;
    border-bottom: 0.1px solid;
}

.submenu1 li:last-child>a{
    border:none;
}

.submenu1>li:first-child a{
    margin-top: 1px;
}

.submenu2 li:last-child a{
    border: none;
}

    
/*Cambiar al pasar el ratón por encima*/
.menu-horizontal li a:hover{
    display:block;
    background-color: white;
    color:#925E99;
}

    
/* AL pasar el ratón por encima se hace visible el submenu*/    
.menu-horizontal li:hover >ul{
    display:block;
}


/* Oculta los submenús */
.menu-horizontal li ul {
    display:none;
    position: absolute;
    min-width:140px;
}

/* Reposiciona nivel 1*/
.menu-horizontal li:hover .submenu1 {
        box-sizing:none;
        margin-left:0;
    }

    
/* Reposiciona el nivel 2 */
.submenu2{
    right:-167px;
    top: 0px;
}
    

/* Establecer colores submenu2*/
.submenu2 li a{
    float:left;
}


nav li ul li{
    position:relative;
}

    
/*Colores*/
nav a{
    transition: 1s background-color;
}

/* Estilo de fotos*/
.portada-imagen{
    width: 100%;
}

article{
    width: 32%;
    display: inline-block;
    float: left;
    margin: 120px 0.5% 1.5% 0.5%;
   /* margin: .5%;
    margin-top: 120px;*/
}


.articles-shadow{
    box-shadow: 0 0 15px #c1c0c1;
}
article:hover {
    box-shadow: 0 0 15px #616161;
    border-radius: 3%;
}




}


/* NO TOCAR, FUNCIONA EL MENÚ ****************/
