
/*Resetear todos los valores*/
* {
    text-decoration:none;
    list-style:none;
    margin:0;
    padding:0;
    /*background-color:#f7f7f7;*/
    font-family: «DejaVu Sans Mono»,«Bitstream Vera Sans Mono», monospace,Verdana, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

/* Encabezado*/
header{
    width:100%;
    text-align:center;
    background:url(/viajes/multimedia/mapamundi-entero.png) top no-repeat;
    background-size: 100%;
}

header h1{
    color:#925E99;
    font-size:160%;
    padding: 10px 10px;
    font-family:brush script mt;
    display: block;
    background-color: #ffffff66;
}

blockquote{
    display: block;
    font-family: monospace;
    clear: right;
    text-align: center;
}

p{
    padding: 2%;
}

#Bio {
    display: flex;
    margin: 10px;
    padding-left: 2%;
    border: .1rem solid rgb(186 156 191);
}


body{
    padding:0 5%;
}

.Autor{
    font-size: 0.7rem;
    color: graytext;
}
.leerMas{
    font-size: 0.6rem;
    width: 4rem;
    border:0.01rem solid;
    border-radius:4px;
}

.leerMas:hover{
    color: rgb(146 94 153 / 100%);
}

h2 {
    font-size: 1rem;
    text-align: center;
}

#Bio h2 {
    display: flex;
    align-items: center;
}

.articles-shadow {
    padding: 1%;
    border-radius: 3%;
}


article{
    float:left;
}

article p{
    padding-left:7%
}

nav nav #menu a {
    text-transform: uppercase;
    text-decoration: none;
}

/*#foto-cabecera-der {
    display: inline-block;
    float: left;
    width: 30%;
}

#foto-cabecera-izq {
    display: inline-block;
    float: right;
    width: 30%;
}*/

/*****************************************************************/
/* Para pantalla de móvil*/
/* Tabulación submenus*/
    .menu-horizontal li:hover .submenu1 {
        /* box-shadow: 0 0 10px #9a9a9a; */
        box-sizing: border-box;
        margin-left: 20px;
    }

    .submenu1 li:hover .submenu2 {
        box-sizing: border-box;
        margin-left: 20px;
    }
.menu-horizontal li:hover>ul{
        display:block;
    }


    /* Oculta los submenús */
    .menu-horizontal li ul {
        display:none;
        position: static;
        min-width:140px;
        background-color: rgb(231 211 255 / .3);
        border-radius: 10px;
    }
.submenu1 {
    display:none;
}

.menu-horizontal li a:hover{
    displau:block;
}



























/*Aquí está todo lo nuevo*/
/********************\
  $Reset ☰
\********************/

body {
  overflow-y: scroll;
  overflow-x: hidden;
}
/********************\
  $Layout ☰
\********************/

/*Damos estilos al menú*/
nav #menu{
  position:absolute;
  width:200px;
  height:100vh;
  top:0;
  left:-200px; 
  background-color: #e7d3ff;
  transition:all .5s cubic-bezier(0.71, 0.26, 0.62, 1.2); /*Damos a la caja del menú una transición para que tenga un desplazamiento suave*/
    border-right:4px solid #905e99;
}
   /*Estilos de los li del menú*/
   .menu-horizontal li a{
     display:block;
     width:96%;
     margin:0 auto;
     line-height:2;
     position:relative; /*Le damos una posición relativa para posteriormente añadirle el triangulo que indica que se está en la página actual del menú*/
     border-bottom:.5px solid rgba(59, 62, 61, 1);
     border-top:.5px solid rgba(59, 62, 61, 1);
     background-color:#ffffff00;
     font-family: 'Lato', sans-serif;
     text-align:center;
     color:rgb(0 0 0);
   }
       /*Damos colocamos el triangulo negro a la pestaña del menú dónde nos encontramos actualmente*/
.current:before {
          content:"";
          width:0;
          height:0;
          position:absolute; /*Le damos al before una posición absoluta relativa al li que lo contiene*/
          border-top:17px solid transparent;
          border-left:15px solid #e7d3ff;
          border-bottom:17px solid transparent;
          top:0px;
          right:-15px; /*Lo posicionamos -15px a la derecha de su contenedor*/
          z-index:4; /*le otorgamos un z-index alto para que se posicione arriba de otros elementeos*/
       }
      /*Colocamos el borde verde al triangulo por medio de otro trangulo verde*/
      .current:after {
          content:"";
          width:0;
          height:0;
          position:absolute;/*Le damos al after una posición absoluta relativa al li que lo contiene*/
          border-top:16.5px solid transparent;
          border-left:17px solid #905e99;
          border-bottom:17px solid transparent;
          top:.5px;
          right:-21px;
          z-index:1;  /*le otorgamos un z-index bajo para que se posicione debajo del trinagulo negro*/
      }
       
  /*Estos son los estilos de la hamburguesa del menú que abre y cierra el mismo*/
  #menu-toogle {
    position:absolute; /*Lo posicionamos absolutamente para poder darle una posición y poder moverlo según el menú esté abierto o cerrado*/
    width: 35px;
    line-height:1.1;
    text-align:center;
    top:0; /*Le damos una posición top y left en donde queramos que se encuentre la hamburguesa del menú*/
    left: 8px; 
    border-radius:3px;
    background-color: #ffffff;
    transition: all 2s ease; /*Añadimos una transición para que realice un desplazamineto suave*/
    z-index:10;
  }
    /*Añadimos la haburguesa y le damos unos estilos*/
    .menu-toogle::before {
      content:"☰";
      font-size:32px;
      color:#915e99;
      background-color:#e7d3ff;
      border-radius:3px;
      padding: 0 5px;
    }

/* Le damos unos estilos al contenedor principal*/
.main-w {
  width:100%;
  height:100vh;
  transition: all .5s ease;
}  

#articulos article .portada-imagen {
    width: 100%;
}

header{
    float:right;
    width:90%;
    z-index:1;
} 
        /*.header-w figure:before {
          content:"O";
          width:15px;
          height:15px;
          position:absolute;
          background-color:white;
          border-radius:100%;
          color:#A9BC00;
          font-size:120%;
          font-wheight:bolder;
          font-family:verdana;
          left:42vw;
          top:9vw;     
        }
        .header-w figure:after {
          content:"O";
          width:15px;
          height:15px;
          position:absolute;
          background-color:white;
          border-radius:100%;
          color:#A9BC00;
          font-size:120%;
          font-wheight:bolder;
          font-family:verdana;
          left:50.8vw;
          top:9vw; 
        }
    .featured-img {
      margin:3em 6vw 0 0;
      border:4px solid white;
      border-radius:100%;
    }
    .header-w__description {
      width:80%;
      height:auto;
      margin:0 auto;
      padding:1em;
      line-height:2;
      text-align:center;
      color:rgba(33, 36, 8, 1);
    }
        .header-w__title
        {
          font-size:300%;
          font-family:Lobster;
          margin:1em 0 0 0;
        }
        .header-w__title2 {
          font-size:250%;
          font-family:Lobster;
          margin:0;
        }
    .paragraph {
      width:80%;
      margin:0 auto;
      text-align:center;
      font-family:'Source Sans Pro', sans-serif;
    }*/

    /*Estos son los estilos que le dan la funcionalidad al menú*/
    /*El checkbox según esté activado o no hará que el menú aparezca o desaparezca*/
    .checkbox {
      display:none; /*Ocultamos el checkbox pues no nos interesa que se vea*/
    }
    .checkbox:checked ~ #nav #menu{
      left:0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
      position:fixed; /* Fijamos el menú lateral para que se desplace cuando hagamos scroll*/
    }
    .checkbox:checked ~ .main-w {
      margin-left:200px; /*Cuando el checkbox asigna un margen al contenedor principal para que se desplace junto con el menú*/
    }
    .checkbox:checked ~ .menu-toogle { 
      left:208px;
      position:fixed; /*Fijamos la hamburgues para que se desplace junto con el menú*/
    }


/*Aquí acaba todo lo nuevo*/



























/* Para pantalla de tablet****************************************************************************************/
@media all and (min-width:900px){
    .menu-toogle{
        display:none;
    }
    header {
        width: 100%;
    }
    
    #nav #menu {
        left:0px;
        padding:0 3% 0 0;
        margin:0;
    }
    
    
    .menu-horizontal li a{
        width:100%;
    }
    
    .menu-horizontal li{
        width:100%
    }
    
    .current a{
    }
    body {
        background-color: #ffffff;
        padding-left: 0;
        padding-right: 4%;
    }
/* Reseteando valores */
    menu-horizontal * {
    font-size: 1rem;
    }

    .menu-horizontal {
        width: 10rem;
        height: 100%;
        text-align: center;
    }
    body, html {
        height: 100%;
    }

    /*.portada-imagen {
    width: 100%;
    }

    article {
        width: 35%;
        display: inline-block;
        justify-content: center;
        float: right;
    }
    nav {
        float: left;
        position: fixed;
        background-color: rgb(231 211 255 / .1);
    }*/
    /* Para centrar los artículos*/
    article h2{
        height:3rem;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    /*Fijar barra arriba*/
    header{
        position:fixed;
    }
    nav{
        width: 20%;
        min-width: 125px;
        height: 110vh;
        float: left;
        position: fixed;
        display: block;
        background-color: #e7d3ff;
        top:55px;
      }
  
  #menu {
    display: inline-block;
    line-height: 20px;
    height: 20px;
    color: #000;
    background-color: rgb(231 211 255 / .1);
    text-decoration: none;
    padding-left: 5px;
    width: 20%;
  }


  nav li {
    justify-content: left;
    width: 1rem;
}


  
  #articulos{
    display:block;
    width: 80%;
    overflow: auto;
    float: right;
    padding-top: 3%;
    justify-content: right;
    padding-top: 70px;
    padding-left: 0;
  }

  article {
    display: inline-block;
    width: 48%;
    float: right; 
    margin-left: 10px;
    margin-top: 10px;
}

    .menu-horizontal li a:hover{
        display:block;
        background-color: white;
        color:#925E99;
    }
        
        /* AL pasar el ratón por encima se hace visible el submenu*/    
    .menu-horizontal li:hover>ul{
        display:block;
    }


    /* Oculta los submenús */
    .menu-horizontal li ul {
        display:none;
        position: static;
        min-width:140px;
        background-color: rgb(231 211 255 / .3);
        border-radius: 10px;
    }
        
    .submenu2 li a{
        float:left;
    }

    nav li ul li{
        position:static;
    }

    .submenu2 {
        background-color: rgb(231 211 255 / .3);
    }

    /* DE aquí sale el blanco cuando despliegas España*/
    /*.submenu1:hover { 
        background-color: white;
    }*/

    /* Tabulación submenus*/
    .menu-horizontal li:hover .submenu1 {
        /* box-shadow: 0 0 10px #9a9a9a; */
        box-sizing: border-box;
        margin-left: 30px;
    }

    .submenu1 li:hover .submenu2 {
        box-sizing: border-box;
        margin-left: 20px;
    }



    blockquote {
        display: inline-block;
    }

    .articles-shadow{
        height:550px;
        box-shadow: 0 0 15px #c1c0c1;

      }

      article:hover {
        box-shadow: 0 0 15px black;
        border-radius: 3%;
    }

    /* Datos con más de una fila en el menu no se superposicionen */
    #menu a {
        height: max-content;
    }


}


/* Para pantalla de ordenador **********************************************************************************/
@media all and (min-width:1160px){ 
    /*Corrección problemas menu movil*/
    /* Reseteando valores */
    .menu-horizontal {
        padding:0 3%;
        height: fit-content;
        width:94%;
        text-align: center;
        justify-content:center;
        align-items:center;
    }

    nav #menu{
        height:fit-content;
        width:100%;
        justify-content:center;
        align-items:center;
        text-align: center;
        background-color:transparent;
        border-right:none;
    }
    body, html {
        height: 100%;
    }
    
    #navbar-toggle #nav nav .menu-horizontal{
        background-color: transparent;
    }

    nav{
        display:block;
        width:100%;
        float:right;
        justify-content:center;
        height: auto;
        top: 110px;
        background-color: rgb(255 255 255 / 0);
    }

    #articulos{
        display:block;
        overflow:none;
        width:100%;
        height:auto;
    }
    /* Cabecera */
    header{
        background: url(/viajes/multimedia/mapamundi-der.jpeg) top left no-repeat, 
    url(/viajes/multimedia/mapamundi-izq.jpeg) top right no-repeat;
    background-size: 36%;
    }

    header h1{
        font-size: 4rem;
    }

    /* Menú principal horizontal orientarlo*/
.menu-horizontal li{
    float: left;
        width: max-content;
}

    .menu-horizontal{
        justify-content: center;
        align-items: center;
    }
/* Menús secundarios verticales*/
.menu-vertical li{
    float:none;
}
    
    
/* Configurar las opciones de los menús */
.menu-horizontal li a{
    display:block;
    width:150px;
    background-color: rgb(190 159 194);
    color:black;
    border-right: 0.1px solid;
    padding:0.5rem;
    text-align:center;
}
    
    
/* Adaptar bordes*/
.menu-horizontal{
    margin: 0 0.3rem;
}

.menu-horizontal li:last-child a{
    border-right: none;
}

.menu-vertical li a{
    border: none;
    border-bottom: 0.1px solid;
}

.submenu1 li:last-child>a{
    border:none;
}

.submenu1>li:first-child a{
    margin-top: 1px;
}

.submenu2 li:last-child a{
    border: none;
}

    
/*Cambiar al pasar el ratón por encima*/
.menu-horizontal li a:hover{
    display:block;
    background-color: white;
    color:#925E99;
}

    
/* AL pasar el ratón por encima se hace visible el submenu*/    
.menu-horizontal li:hover >ul{
    display:block;
}


/* Oculta los submenús */
.menu-horizontal li ul {
    display:none;
    position: absolute;
    min-width:140px;
}

/* Reposiciona nivel 1*/
.menu-horizontal li:hover .submenu1 {
        box-sizing:none;
        margin-left:0;
    }

    
/* Reposiciona el nivel 2 */
.submenu2{
    right:-167px;
    top: 0px;
}
    

/* Establecer colores submenu2*/
.submenu2 li a{
    float:left;
}


nav li ul li{
    position:relative;
}

    
/*Colores*/
nav a{
    transition: 1s background-color;
}

/* Estilo de fotos*/
.portada-imagen{
    width: 100%;
}

article{
    width: 32%;
    display: inline-block;
    float: left;
    margin: 120px 0.5% 1.5% 0.5%;
   /* margin: .5%;
    margin-top: 120px;*/
}


.articles-shadow{
    box-shadow: 0 0 15px #c1c0c1;
}
article:hover {
    box-shadow: 0 0 15px #616161;
    border-radius: 3%;
}




}


/* NO TOCAR, FUNCIONA EL MENÚ ****************/
